.layui-footer {
  text-align: center;
  font-size: 12px;
}

.iconfont {
  margin-right: 8px;
}

.layui-icon {
  margin-right: 8px;
  margin-left: 20px;
}

iframe {
  width: 100%;
  height: 100%;
}

a {
  transition: none !important;
}

.userInfo {
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-bottom: 2px solid #282b33;
}

.test-avatar {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  background-color: #009688;
  font-size: 20px;
  color: #fff;
  margin-right: 10px;
  position: relative;
  top: 3px;
}