/* 字体图标 */

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/fonts/icomoon.eot?ihfw5h');
    src: url('../fonts/icomoon.eot?ihfw5h#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?ihfw5h') format('truetype'), url('../fonts/icomoon.woff?ihfw5h') format('woff'), url('../fonts/icomoon.svg?ihfw5h#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}


/* 版心 */

.w {
    width: 1200px;
    margin: 0 auto;
}


/* 快捷导航栏 */

.shortcut {
    height: 31px;
    line-height: 31px;
    background-color: #f1f1f1;
}

.fl {
    float: left;
}

.shortcut li {
    float: left;
}

.fr {
    float: right;
}

.shortcut .fr ul li:nth-child(even) {
    width: 1px;
    height: 12px;
    background-color: #666;
    margin: 9px 12px 0;
}

.arrow-icon::after {
    content: '\e900';
    font-family: 'icomoon';
    margin-left: 6px;
}

.style_red {
    color: red;
}


/* header 头部模块制作 */

.header {
    position: relative;
    height: 105px;
    background-color: red;
}

.logo {
    position: absolute;
    top: 25px;
    width: 171px;
    height: 61px;
    background-color: blue;
}

.logo a {
    display: block;
    width: 171px;
    height: 61px;
    /* font-size: 0;  淘宝的做法 */
    text-indent: -999px;
    overflow: hidden;
}